:where([data-wsf-style-id="1"]) {
--wsf-form-color-background: transparent;
--wsf-form-color-base: #000000;
--wsf-form-color-base-contrast: #ffffff;
--wsf-form-color-accent: #205493;
--wsf-form-color-neutral: #767676;
--wsf-form-color-primary: #205493;
--wsf-form-color-secondary: #5b616b;
--wsf-form-color-success: #2e8540;
--wsf-form-color-info: #02bfe7;
--wsf-form-color-warning: #fdb81e;
--wsf-form-color-danger: #bb0000;
--wsf-form-border-color: transparent;
--wsf-form-border-radius: 0px;
--wsf-form-border-width: 0px;
--wsf-form-border-style: solid;
--wsf-form-grid-gap: 20px;
--wsf-form-padding-horizontal: 0px;
--wsf-form-padding-vertical: 0px;
--wsf-form-transition-enabled: 1;
--wsf-form-transition-speed: 200ms;
--wsf-form-transition-timing-function: ease-in-out;
--wsf-form-font-family: inherit;
--wsf-form-font-size: 16px;
--wsf-form-font-size-small: 14px;
--wsf-form-font-size-large: 18px;
--wsf-form-font-style: inherit;
--wsf-form-font-weight: inherit;
--wsf-form-letter-spacing: inherit;
--wsf-form-line-height: 1.4;
--wsf-form-text-decoration: inherit;
--wsf-form-text-transform: inherit;
--wsf-group-li-color-background: transparent;
--wsf-group-li-color-background-active: var(--wsf-form-color-base-contrast);
--wsf-group-li-color-background-focus: var(--wsf-form-color-base-contrast);
--wsf-group-li-color-background-disabled: var(--wsf-form-color-neutral-light-60);
--wsf-group-li-border-radius: 4px;
--wsf-group-li-border-width: 1px;
--wsf-group-li-border-style: solid;
--wsf-group-li-border-color: transparent;
--wsf-group-li-border-color-active: var(--wsf-form-color-neutral-light-60);
--wsf-group-li-border-color-focus: var(--wsf-form-color-neutral-light-60);
--wsf-group-li-border-color-disabled: var(--wsf-form-color-neutral-light-60);
--wsf-group-ul-border-color: var(--wsf-form-color-neutral-light-60);
--wsf-group-ul-border-width: 1px;
--wsf-group-ul-border-style: solid;
--wsf-group-li-gap: 0px;
--wsf-group-li-padding-horizontal: 16px;
--wsf-group-li-padding-vertical: 8px;
--wsf-group-li-color: var(--wsf-form-color-base);
--wsf-group-li-color-active: var(--wsf-form-color-base);
--wsf-group-li-color-focus: var(--wsf-form-color-base);
--wsf-group-li-color-disabled: var(--wsf-form-color-neutral);
--wsf-group-li-steps-color-background: var(--wsf-form-color-base-contrast);
--wsf-group-li-steps-color-background-active: var(--wsf-form-color-base-contrast);
--wsf-group-li-steps-color-background-complete: var(--wsf-form-color-primary);
--wsf-group-li-steps-border-color: var(--wsf-form-color-neutral-light-60);
--wsf-group-li-steps-border-color-active: var(--wsf-form-color-primary);
--wsf-group-li-steps-border-color-complete: var(--wsf-form-color-primary);
--wsf-group-li-steps-size: var(--wsf-field-height);
--wsf-group-li-steps-color: var(--wsf-form-color-base);
--wsf-group-li-steps-color-active: var(--wsf-form-color-base);
--wsf-group-li-steps-color-complete: var(--wsf-form-color-base-contrast);
--wsf-group-li-steps-font-family: var(--wsf-form-font-family);
--wsf-group-li-steps-font-size: var(--wsf-form-font-size);
--wsf-group-li-steps-font-style: var(--wsf-form-font-style);
--wsf-group-li-steps-font-weight: 700;
--wsf-group-li-steps-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-group-li-steps-line-height: var(--wsf-field-height);
--wsf-group-li-steps-text-decoration: var(--wsf-form-text-decoration);
--wsf-group-li-steps-text-transform: var(--wsf-form-text-transform);
--wsf-group-li-font-family: var(--wsf-form-font-family);
--wsf-group-li-font-size: var(--wsf-form-font-size);
--wsf-group-li-font-style: var(--wsf-form-font-style);
--wsf-group-li-font-weight: var(--wsf-form-font-weight);
--wsf-group-li-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-group-li-line-height: var(--wsf-form-line-height);
--wsf-group-li-text-decoration: var(--wsf-form-text-decoration);
--wsf-group-li-text-transform: var(--wsf-form-text-transform);
--wsf-section-color-background: transparent;
--wsf-section-legend-color-background: transparent;
--wsf-section-legend-color: var(--wsf-form-color-base);
--wsf-section-legend-font-family: var(--wsf-form-font-family);
--wsf-section-legend-font-size: var(--wsf-form-font-size-large);
--wsf-section-legend-font-style: var(--wsf-form-font-style);
--wsf-section-legend-font-weight: var(--wsf-form-font-weight);
--wsf-section-legend-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-section-legend-line-height: var(--wsf-form-line-height);
--wsf-section-legend-text-decoration: var(--wsf-form-text-decoration);
--wsf-section-legend-text-transform: var(--wsf-form-text-transform);
--wsf-section-legend-gap: 10px;
--wsf-field-color-background: var(--wsf-form-color-base-contrast);
--wsf-field-color-background-hover: var(--wsf-field-color-background);
--wsf-field-color-background-focus: var(--wsf-field-color-background);
--wsf-field-color-background-disabled: var(--wsf-form-color-neutral-light-80);
--wsf-field-color-background-invalid: var(--wsf-field-color-background);
--wsf-field-border-radius: 4px;
--wsf-field-border-width: 1px;
--wsf-field-border-style: solid;
--wsf-field-border-color: var(--wsf-form-color-base);
--wsf-field-border-color-hover: var(--wsf-form-color-base);
--wsf-field-border-color-focus: var(--wsf-form-color-primary);
--wsf-field-border-color-disabled: var(--wsf-form-color-neutral-light-60);
--wsf-field-border-color-invalid: var(--wsf-form-color-danger);
--wsf-field-box-shadow-color-focus: var(--wsf-form-color-primary);
--wsf-field-box-shadow-width-focus: 2px;
--wsf-field-fieldset-legend-color-background: transparent;
--wsf-field-fieldset-legend-color: var(--wsf-form-color-base);
--wsf-field-fieldset-legend-font-family: var(--wsf-form-font-family);
--wsf-field-fieldset-legend-font-size: var(--wsf-form-font-size);
--wsf-field-fieldset-legend-font-style: var(--wsf-form-font-style);
--wsf-field-fieldset-legend-font-weight: var(--wsf-form-font-weight);
--wsf-field-fieldset-legend-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-fieldset-legend-line-height: var(--wsf-form-line-height);
--wsf-field-fieldset-legend-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-fieldset-legend-text-transform: var(--wsf-form-text-transform);
--wsf-field-fieldset-legend-gap: 10px;
--wsf-field-help-color-background: transparent;
--wsf-field-help-color: var(--wsf-form-color-base);
--wsf-field-help-font-family: var(--wsf-form-font-family);
--wsf-field-help-font-size: var(--wsf-form-font-size-small);
--wsf-field-help-font-style: var(--wsf-form-font-style);
--wsf-field-help-font-weight: var(--wsf-form-font-weight);
--wsf-field-help-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-help-line-height: var(--wsf-form-line-height);
--wsf-field-help-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-help-text-transform: var(--wsf-form-text-transform);
--wsf-field-help-gap: 5px;
--wsf-field-invalid-feedback-color-background: transparent;
--wsf-field-invalid-feedback-color: var(--wsf-form-color-danger);
--wsf-field-invalid-feedback-font-family: var(--wsf-form-font-family);
--wsf-field-invalid-feedback-font-size: var(--wsf-form-font-size-small);
--wsf-field-invalid-feedback-font-style: var(--wsf-form-font-style);
--wsf-field-invalid-feedback-font-weight: var(--wsf-form-font-weight);
--wsf-field-invalid-feedback-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-invalid-feedback-line-height: var(--wsf-form-line-height);
--wsf-field-invalid-feedback-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-invalid-feedback-text-transform: var(--wsf-form-text-transform);
--wsf-field-invalid-feedback-gap: 5px;
--wsf-field-label-color-background: transparent;
--wsf-field-label-color: var(--wsf-form-color-base);
--wsf-field-label-font-family: var(--wsf-form-font-family);
--wsf-field-label-font-size: var(--wsf-form-font-size);
--wsf-field-label-font-style: var(--wsf-form-font-style);
--wsf-field-label-font-weight: var(--wsf-form-font-weight);
--wsf-field-label-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-label-line-height: var(--wsf-form-line-height);
--wsf-field-label-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-label-text-transform: var(--wsf-form-text-transform);
--wsf-field-label-gap: 5px;
--wsf-field-label-inside-mode: move;
--wsf-field-label-inside-offset: -20px;
--wsf-field-label-inside-scale: 0.9;
--wsf-field-padding-horizontal: 10px;
--wsf-field-padding-vertical: 8.5px;
--wsf-field-color-placeholder: var(--wsf-form-color-neutral);
--wsf-field-prefix-suffix-color-background: var(--wsf-form-color-neutral-light-80);
--wsf-field-prefix-suffix-color: var(--wsf-form-color-base);
--wsf-field-prefix-suffix-font-family: var(--wsf-form-font-family);
--wsf-field-prefix-suffix-font-size: var(--wsf-form-font-size);
--wsf-field-prefix-suffix-font-style: var(--wsf-form-font-style);
--wsf-field-prefix-suffix-font-weight: var(--wsf-form-font-weight);
--wsf-field-prefix-suffix-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-prefix-suffix-line-height: var(--wsf-form-line-height);
--wsf-field-prefix-suffix-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-prefix-suffix-text-transform: var(--wsf-form-text-transform);
--wsf-field-color: var(--wsf-form-color-base);
--wsf-field-color-hover: var(--wsf-form-color-base);
--wsf-field-color-focus: var(--wsf-form-color-base);
--wsf-field-color-disabled: var(--wsf-form-color-neutral);
--wsf-field-color-invalid: var(--wsf-form-color-danger);
--wsf-field-tooltip-color-background: var(--wsf-form-color-neutral);
--wsf-field-tooltip-color: var(--wsf-form-color-base);
--wsf-field-tooltip-font-family: var(--wsf-form-font-family);
--wsf-field-tooltip-font-size: var(--wsf-form-font-size-small);
--wsf-field-tooltip-font-weight: var(--wsf-form-font-weight);
--wsf-field-tooltip-line-height: var(--wsf-form-line-height);
--wsf-field-tooltip-border-radius: var(--wsf-field-border-radius);
--wsf-field-tooltip-gap: 5px;
--wsf-field-font-family: var(--wsf-form-font-family);
--wsf-field-font-size: var(--wsf-form-font-size);
--wsf-field-font-style: var(--wsf-form-font-style);
--wsf-field-font-weight: var(--wsf-form-font-weight);
--wsf-field-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-line-height: var(--wsf-form-line-height);
--wsf-field-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-text-transform: var(--wsf-form-text-transform);
--wsf-field-button-color-background: var(--wsf-form-color-neutral-light-60);
--wsf-field-button-color-background-hover: var(--wsf-form-color-neutral-light-40);
--wsf-field-button-color-background-focus: var(--wsf-form-color-neutral-light-40);
--wsf-field-button-primary-color-background: var(--wsf-form-color-primary);
--wsf-field-button-primary-color-background-hover: var(--wsf-form-color-primary-dark-20);
--wsf-field-button-primary-color-background-focus: var(--wsf-form-color-primary-dark-40);
--wsf-field-button-secondary-color-background: var(--wsf-form-color-secondary);
--wsf-field-button-secondary-color-background-hover: var(--wsf-form-color-secondary-dark-20);
--wsf-field-button-secondary-color-background-focus: var(--wsf-form-color-secondary-dark-40);
--wsf-field-button-success-color-background: var(--wsf-form-color-success);
--wsf-field-button-success-color-background-hover: var(--wsf-form-color-success-dark-20);
--wsf-field-button-success-color-background-focus: var(--wsf-form-color-success-dark-40);
--wsf-field-button-info-color-background: var(--wsf-form-color-info);
--wsf-field-button-info-color-background-hover: var(--wsf-form-color-info-dark-20);
--wsf-field-button-info-color-background-focus: var(--wsf-form-color-info-dark-40);
--wsf-field-button-warning-color-background: var(--wsf-form-color-warning);
--wsf-field-button-warning-color-background-hover: var(--wsf-form-color-warning-dark-20);
--wsf-field-button-warning-color-background-focus: var(--wsf-form-color-warning-dark-40);
--wsf-field-button-danger-color-background: var(--wsf-form-color-danger);
--wsf-field-button-danger-color-background-hover: var(--wsf-form-color-danger-dark-20);
--wsf-field-button-danger-color-background-focus: var(--wsf-form-color-danger-dark-40);
--wsf-field-button-border-color: var(--wsf-form-color-neutral-light-60);
--wsf-field-button-border-color-hover: var(--wsf-form-color-neutral-light-40);
--wsf-field-button-border-color-focus: var(--wsf-form-color-neutral-light-40);
--wsf-field-button-primary-border-color: var(--wsf-form-color-primary);
--wsf-field-button-primary-border-color-hover: var(--wsf-form-color-primary-dark-20);
--wsf-field-button-primary-border-color-focus: var(--wsf-form-color-primary-dark-40);
--wsf-field-button-secondary-border-color: var(--wsf-form-color-secondary);
--wsf-field-button-secondary-border-color-hover: var(--wsf-form-color-secondary-dark-20);
--wsf-field-button-secondary-border-color-focus: var(--wsf-form-color-secondary-dark-40);
--wsf-field-button-success-border-color: var(--wsf-form-color-success);
--wsf-field-button-success-border-color-hover: var(--wsf-form-color-success-dark-20);
--wsf-field-button-success-border-color-focus: var(--wsf-form-color-success-dark-40);
--wsf-field-button-info-border-color: var(--wsf-form-color-info);
--wsf-field-button-info-border-color-hover: var(--wsf-form-color-info-dark-20);
--wsf-field-button-info-border-color-focus: var(--wsf-form-color-info-dark-40);
--wsf-field-button-warning-border-color: var(--wsf-form-color-warning);
--wsf-field-button-warning-border-color-hover: var(--wsf-form-color-warning-dark-20);
--wsf-field-button-warning-border-color-focus: var(--wsf-form-color-warning-dark-40);
--wsf-field-button-danger-border-color: var(--wsf-form-color-danger);
--wsf-field-button-danger-border-color-hover: var(--wsf-form-color-danger-dark-20);
--wsf-field-button-danger-border-color-focus: var(--wsf-form-color-danger-dark-40);
--wsf-field-button-border-radius: var(--wsf-field-border-radius);
--wsf-field-button-border-style: solid;
--wsf-field-button-border-width: 1px;
--wsf-field-button-padding-horizontal: var(--wsf-field-padding-horizontal);
--wsf-field-button-padding-vertical: var(--wsf-field-padding-vertical);
--wsf-field-button-width: 100%;
--wsf-field-button-color: var(--wsf-form-color-base);
--wsf-field-button-color-hover: var(--wsf-form-color-base);
--wsf-field-button-color-focus: var(--wsf-form-color-base);
--wsf-field-button-primary-color: var(--wsf-form-color-base-contrast);
--wsf-field-button-primary-color-hover: var(--wsf-field-button-primary-color);
--wsf-field-button-primary-color-focus: var(--wsf-field-button-primary-color);
--wsf-field-button-secondary-color: var(--wsf-form-color-base-contrast);
--wsf-field-button-secondary-color-hover: var(--wsf-field-button-secondary-color);
--wsf-field-button-secondary-color-focus: var(--wsf-field-button-secondary-color);
--wsf-field-button-success-color: var(--wsf-form-color-base-contrast);
--wsf-field-button-success-color-hover: var(--wsf-field-button-success-color);
--wsf-field-button-success-color-focus: var(--wsf-field-button-success-color);
--wsf-field-button-info-color: var(--wsf-form-color-base-contrast);
--wsf-field-button-info-color-hover: var(--wsf-form-color-base-contrast);
--wsf-field-button-info-color-focus: var(--wsf-form-color-base-contrast);
--wsf-field-button-warning-color: var(--wsf-form-color-base);
--wsf-field-button-warning-color-hover: var(--wsf-form-color-base);
--wsf-field-button-warning-color-focus: var(--wsf-form-color-base);
--wsf-field-button-danger-color: var(--wsf-form-color-base-contrast);
--wsf-field-button-danger-color-hover: var(--wsf-field-button-danger-color);
--wsf-field-button-danger-color-focus: var(--wsf-field-button-danger-color);
--wsf-field-button-font-family: var(--wsf-form-font-family);
--wsf-field-button-font-size: var(--wsf-form-font-size);
--wsf-field-button-font-style: var(--wsf-form-font-style);
--wsf-field-button-font-weight: var(--wsf-form-font-weight);
--wsf-field-button-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-button-line-height: var(--wsf-form-line-height);
--wsf-field-button-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-button-text-transform: var(--wsf-form-text-transform);
--wsf-field-checkbox-color-background: var(--wsf-field-color-background);
--wsf-field-checkbox-checked-color-background: var(--wsf-form-color-accent);
--wsf-field-checkbox-checkmark-color: var(--wsf-form-color-base-contrast);
--wsf-field-checkbox-border-radius: var(--wsf-field-border-radius);
--wsf-field-checkbox-gap-horizontal: 6px;
--wsf-field-checkbox-gap-vertical: 10px;
--wsf-field-checkbox-button-color-background: var(--wsf-form-color-neutral-light-60);
--wsf-field-checkbox-button-color: var(--wsf-form-color-base);
--wsf-field-checkbox-checked-button-color-background: var(--wsf-form-color-accent);
--wsf-field-checkbox-checked-button-color: var(--wsf-form-color-base-contrast);
--wsf-field-checkbox-switch-color: var(--wsf-form-color-neutral-light-60);
--wsf-field-checkbox-checked-switch-color-background: var(--wsf-form-color-accent);
--wsf-field-checkbox-checked-switch-color: var(--wsf-form-color-base-contrast);
--wsf-field-checkbox-checked-swatch-border-color: var(--wsf-form-color-primary);
--wsf-field-checkbox-checked-swatch-box-shadow-color: var(--wsf-form-color-base-contrast);
--wsf-field-checkbox-checked-image-border-color: var(--wsf-form-color-primary);
--wsf-field-checkbox-checked-image-box-shadow-color: var(--wsf-form-color-base-contrast);
--wsf-field-message-color-background: var(--wsf-form-color-neutral-light-80);
--wsf-field-message-color: var(--wsf-form-color-base);
--wsf-field-message-anchor-color: var(--wsf-form-color-base);
--wsf-field-message-border-color: var(--wsf-form-color-neutral-light-60);
--wsf-field-message-success-color-background: var(--wsf-form-color-success-light-80);
--wsf-field-message-success-color: var(--wsf-form-color-success-dark-40);
--wsf-field-message-success-anchor-color: var(--wsf-form-color-success-dark-60);
--wsf-field-message-success-border-color: var(--wsf-form-color-success-light-40);
--wsf-field-message-info-color-background: var(--wsf-form-color-info-light-80);
--wsf-field-message-info-color: var(--wsf-form-color-info-dark-40);
--wsf-field-message-info-anchor-color: var(--wsf-form-color-info-dark-60);
--wsf-field-message-info-border-color: var(--wsf-form-color-info-light-40);
--wsf-field-message-warning-color-background: var(--wsf-form-color-warning-light-80);
--wsf-field-message-warning-color: var(--wsf-form-color-warning-dark-40);
--wsf-field-message-warning-anchor-color: var(--wsf-form-color-warning-dark-60);
--wsf-field-message-warning-border-color: var(--wsf-form-color-warning-light-40);
--wsf-field-message-danger-color-background: var(--wsf-form-color-danger-light-80);
--wsf-field-message-danger-color: var(--wsf-form-color-danger-dark-40);
--wsf-field-message-danger-anchor-color: var(--wsf-form-color-danger-dark-60);
--wsf-field-message-danger-border-color: var(--wsf-form-color-danger-light-40);
--wsf-field-radio-color-background: var(--wsf-field-color-background);
--wsf-field-radio-checked-color: var(--wsf-form-color-accent);
--wsf-field-radio-gap-horizontal: 6px;
--wsf-field-radio-gap-vertical: 10px;
--wsf-field-radio-button-color-background: var(--wsf-form-color-neutral-light-60);
--wsf-field-radio-button-color: var(--wsf-form-color-base);
--wsf-field-radio-checked-button-color-background: var(--wsf-form-color-accent);
--wsf-field-radio-checked-button-color: var(--wsf-form-color-base-contrast);
--wsf-field-radio-circle-color-background: var(--wsf-form-color-base-contrast);
--wsf-field-radio-circle-color-background-hover: var(--wsf-form-color-neutral-light-60);
--wsf-field-radio-checked-circle-color-background: var(--wsf-form-color-accent);
--wsf-field-radio-color-background-disabled: var(--wsf-form-color-neutral-light-60);
--wsf-field-radio-circle-color: var(--wsf-form-color-base);
--wsf-field-radio-circle-color-hover: var(--wsf-form-color-base);
--wsf-field-radio-checked-circle-color: var(--wsf-form-color-base-contrast);
--wsf-field-radio-color-disabled: var(--wsf-form-color-neutral);
--wsf-field-radio-circle-padding-vertical: var(--wsf-field-padding-vertical);
--wsf-field-radio-circle-font-family: var(--wsf-form-font-family);
--wsf-field-radio-circle-font-size: var(--wsf-form-font-size);
--wsf-field-radio-circle-font-style: var(--wsf-form-font-style);
--wsf-field-radio-circle-font-weight: var(--wsf-form-font-weight);
--wsf-field-radio-circle-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-radio-circle-line-height: var(--wsf-form-line-height);
--wsf-field-radio-circle-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-radio-circle-text-transform: var(--wsf-form-text-transform);
--wsf-field-radio-checked-image-border-color: var(--wsf-form-color-primary);
--wsf-field-radio-checked-image-box-shadow-color: var(--wsf-form-color-base-contrast);
--wsf-field-radio-checked-swatch-border-color: var(--wsf-form-color-primary);
--wsf-field-radio-checked-swatch-box-shadow-color: var(--wsf-form-color-base-contrast);
--wsf-field-radio-switch-color: var(--wsf-form-color-neutral-light-60);
--wsf-field-radio-checked-switch-color-background: var(--wsf-form-color-accent);
--wsf-field-radio-checked-switch-color: var(--wsf-form-color-base-contrast);
--wsf-field-select-arrow-color: var(--wsf-field-color);
--wsf-field-select-arrow-width: 12px;
--wsf-field-select-arrow-height: 6px;
--wsf-field-select-select2-choice-border-radius: var(--wsf-field-border-radius);
--wsf-field-select-select2-choice-color-background: var(--wsf-form-color-neutral-light-80);
--wsf-field-select-select2-choice-color: var(--wsf-form-color-base);
--wsf-field-select-select2-choice-color-remove: var(--wsf-form-color-base);
--wsf-field-select-select2-choice-gap: 5px;
--wsf-field-select-select2-choice-font-family: var(--wsf-form-font-family);
--wsf-field-select-select2-choice-font-size: var(--wsf-form-font-size-small);
--wsf-field-select-select2-choice-font-style: var(--wsf-form-font-style);
--wsf-field-select-select2-choice-font-weight: var(--wsf-form-font-weight);
--wsf-field-select-select2-choice-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-select-select2-choice-line-height: var(--wsf-form-line-height);
--wsf-field-select-select2-choice-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-select-select2-choice-text-transform: var(--wsf-form-text-transform);
--wsf-field-select-select2-result-color-background: var(--wsf-form-color-base-contrast);
--wsf-field-select-select2-result-color-background-selected: var(--wsf-form-color-neutral-light-80);
--wsf-field-select-select2-result-color-background-highlighted: var(--wsf-form-color-primary);
--wsf-field-select-select2-result-color: var(--wsf-form-color-base);
--wsf-field-select-select2-result-color-selected: var(--wsf-form-color-base);
--wsf-field-select-select2-result-color-highlighted: var(--wsf-form-color-base-contrast);
--wsf-field-select-select2-result-font-family: var(--wsf-form-font-family);
--wsf-field-select-select2-result-font-size: var(--wsf-form-font-size);
--wsf-field-select-select2-result-font-style: var(--wsf-form-font-style);
--wsf-field-select-select2-result-font-weight: var(--wsf-form-font-weight);
--wsf-field-select-select2-result-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-select-select2-result-line-height: var(--wsf-form-line-height);
--wsf-field-select-select2-result-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-select-select2-result-text-transform: var(--wsf-form-text-transform);
--wsf-field-select-select2-result-padding-horizontal: 7px;
--wsf-field-select-select2-result-padding-vertical: 5px;
--wsf-field-texteditor-color: var(--wsf-form-color-base);
--wsf-field-texteditor-font-family: var(--wsf-form-font-family);
--wsf-field-texteditor-font-size: var(--wsf-form-font-size);
--wsf-field-texteditor-font-style: var(--wsf-form-font-style);
--wsf-field-texteditor-font-weight: var(--wsf-form-font-weight);
--wsf-field-texteditor-letter-spacing: var(--wsf-form-letter-spacing);
--wsf-field-texteditor-line-height: var(--wsf-form-line-height);
--wsf-field-texteditor-text-decoration: var(--wsf-form-text-decoration);
--wsf-field-texteditor-text-transform: var(--wsf-form-text-transform);
--wsf-form-color-base-dark-90: color-mix(in oklab, var(--wsf-form-color-base), #000 90%);
--wsf-form-color-base-dark-80: color-mix(in oklab, var(--wsf-form-color-base), #000 80%);
--wsf-form-color-base-dark-70: color-mix(in oklab, var(--wsf-form-color-base), #000 70%);
--wsf-form-color-base-dark-60: color-mix(in oklab, var(--wsf-form-color-base), #000 60%);
--wsf-form-color-base-dark-50: color-mix(in oklab, var(--wsf-form-color-base), #000 50%);
--wsf-form-color-base-dark-40: color-mix(in oklab, var(--wsf-form-color-base), #000 40%);
--wsf-form-color-base-dark-30: color-mix(in oklab, var(--wsf-form-color-base), #000 30%);
--wsf-form-color-base-dark-20: color-mix(in oklab, var(--wsf-form-color-base), #000 20%);
--wsf-form-color-base-dark-10: color-mix(in oklab, var(--wsf-form-color-base), #000 10%);
--wsf-form-color-base-light-10: color-mix(in oklab, var(--wsf-form-color-base), #fff 10%);
--wsf-form-color-base-light-20: color-mix(in oklab, var(--wsf-form-color-base), #fff 20%);
--wsf-form-color-base-light-30: color-mix(in oklab, var(--wsf-form-color-base), #fff 30%);
--wsf-form-color-base-light-40: color-mix(in oklab, var(--wsf-form-color-base), #fff 40%);
--wsf-form-color-base-light-50: color-mix(in oklab, var(--wsf-form-color-base), #fff 50%);
--wsf-form-color-base-light-60: color-mix(in oklab, var(--wsf-form-color-base), #fff 60%);
--wsf-form-color-base-light-70: color-mix(in oklab, var(--wsf-form-color-base), #fff 70%);
--wsf-form-color-base-light-80: color-mix(in oklab, var(--wsf-form-color-base), #fff 80%);
--wsf-form-color-base-light-90: color-mix(in oklab, var(--wsf-form-color-base), #fff 90%);
--wsf-form-color-base-contrast-dark-90: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 90%);
--wsf-form-color-base-contrast-dark-80: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 80%);
--wsf-form-color-base-contrast-dark-70: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 70%);
--wsf-form-color-base-contrast-dark-60: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 60%);
--wsf-form-color-base-contrast-dark-50: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 50%);
--wsf-form-color-base-contrast-dark-40: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 40%);
--wsf-form-color-base-contrast-dark-30: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 30%);
--wsf-form-color-base-contrast-dark-20: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 20%);
--wsf-form-color-base-contrast-dark-10: color-mix(in oklab, var(--wsf-form-color-base-contrast), #000 10%);
--wsf-form-color-base-contrast-light-10: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 10%);
--wsf-form-color-base-contrast-light-20: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 20%);
--wsf-form-color-base-contrast-light-30: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 30%);
--wsf-form-color-base-contrast-light-40: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 40%);
--wsf-form-color-base-contrast-light-50: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 50%);
--wsf-form-color-base-contrast-light-60: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 60%);
--wsf-form-color-base-contrast-light-70: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 70%);
--wsf-form-color-base-contrast-light-80: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 80%);
--wsf-form-color-base-contrast-light-90: color-mix(in oklab, var(--wsf-form-color-base-contrast), #fff 90%);
--wsf-form-color-accent-dark-90: color-mix(in oklab, var(--wsf-form-color-accent), #000 90%);
--wsf-form-color-accent-dark-80: color-mix(in oklab, var(--wsf-form-color-accent), #000 80%);
--wsf-form-color-accent-dark-70: color-mix(in oklab, var(--wsf-form-color-accent), #000 70%);
--wsf-form-color-accent-dark-60: color-mix(in oklab, var(--wsf-form-color-accent), #000 60%);
--wsf-form-color-accent-dark-50: color-mix(in oklab, var(--wsf-form-color-accent), #000 50%);
--wsf-form-color-accent-dark-40: color-mix(in oklab, var(--wsf-form-color-accent), #000 40%);
--wsf-form-color-accent-dark-30: color-mix(in oklab, var(--wsf-form-color-accent), #000 30%);
--wsf-form-color-accent-dark-20: color-mix(in oklab, var(--wsf-form-color-accent), #000 20%);
--wsf-form-color-accent-dark-10: color-mix(in oklab, var(--wsf-form-color-accent), #000 10%);
--wsf-form-color-accent-light-10: color-mix(in oklab, var(--wsf-form-color-accent), #fff 10%);
--wsf-form-color-accent-light-20: color-mix(in oklab, var(--wsf-form-color-accent), #fff 20%);
--wsf-form-color-accent-light-30: color-mix(in oklab, var(--wsf-form-color-accent), #fff 30%);
--wsf-form-color-accent-light-40: color-mix(in oklab, var(--wsf-form-color-accent), #fff 40%);
--wsf-form-color-accent-light-50: color-mix(in oklab, var(--wsf-form-color-accent), #fff 50%);
--wsf-form-color-accent-light-60: color-mix(in oklab, var(--wsf-form-color-accent), #fff 60%);
--wsf-form-color-accent-light-70: color-mix(in oklab, var(--wsf-form-color-accent), #fff 70%);
--wsf-form-color-accent-light-80: color-mix(in oklab, var(--wsf-form-color-accent), #fff 80%);
--wsf-form-color-accent-light-90: color-mix(in oklab, var(--wsf-form-color-accent), #fff 90%);
--wsf-form-color-neutral-dark-90: color-mix(in oklab, var(--wsf-form-color-neutral), #000 90%);
--wsf-form-color-neutral-dark-80: color-mix(in oklab, var(--wsf-form-color-neutral), #000 80%);
--wsf-form-color-neutral-dark-70: color-mix(in oklab, var(--wsf-form-color-neutral), #000 70%);
--wsf-form-color-neutral-dark-60: color-mix(in oklab, var(--wsf-form-color-neutral), #000 60%);
--wsf-form-color-neutral-dark-50: color-mix(in oklab, var(--wsf-form-color-neutral), #000 50%);
--wsf-form-color-neutral-dark-40: color-mix(in oklab, var(--wsf-form-color-neutral), #000 40%);
--wsf-form-color-neutral-dark-30: color-mix(in oklab, var(--wsf-form-color-neutral), #000 30%);
--wsf-form-color-neutral-dark-20: color-mix(in oklab, var(--wsf-form-color-neutral), #000 20%);
--wsf-form-color-neutral-dark-10: color-mix(in oklab, var(--wsf-form-color-neutral), #000 10%);
--wsf-form-color-neutral-light-10: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 10%);
--wsf-form-color-neutral-light-20: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 20%);
--wsf-form-color-neutral-light-30: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 30%);
--wsf-form-color-neutral-light-40: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 40%);
--wsf-form-color-neutral-light-50: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 50%);
--wsf-form-color-neutral-light-60: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 60%);
--wsf-form-color-neutral-light-70: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 70%);
--wsf-form-color-neutral-light-80: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 80%);
--wsf-form-color-neutral-light-90: color-mix(in oklab, var(--wsf-form-color-neutral), #fff 90%);
--wsf-form-color-primary-dark-90: color-mix(in oklab, var(--wsf-form-color-primary), #000 90%);
--wsf-form-color-primary-dark-80: color-mix(in oklab, var(--wsf-form-color-primary), #000 80%);
--wsf-form-color-primary-dark-70: color-mix(in oklab, var(--wsf-form-color-primary), #000 70%);
--wsf-form-color-primary-dark-60: color-mix(in oklab, var(--wsf-form-color-primary), #000 60%);
--wsf-form-color-primary-dark-50: color-mix(in oklab, var(--wsf-form-color-primary), #000 50%);
--wsf-form-color-primary-dark-40: color-mix(in oklab, var(--wsf-form-color-primary), #000 40%);
--wsf-form-color-primary-dark-30: color-mix(in oklab, var(--wsf-form-color-primary), #000 30%);
--wsf-form-color-primary-dark-20: color-mix(in oklab, var(--wsf-form-color-primary), #000 20%);
--wsf-form-color-primary-dark-10: color-mix(in oklab, var(--wsf-form-color-primary), #000 10%);
--wsf-form-color-primary-light-10: color-mix(in oklab, var(--wsf-form-color-primary), #fff 10%);
--wsf-form-color-primary-light-20: color-mix(in oklab, var(--wsf-form-color-primary), #fff 20%);
--wsf-form-color-primary-light-30: color-mix(in oklab, var(--wsf-form-color-primary), #fff 30%);
--wsf-form-color-primary-light-40: color-mix(in oklab, var(--wsf-form-color-primary), #fff 40%);
--wsf-form-color-primary-light-50: color-mix(in oklab, var(--wsf-form-color-primary), #fff 50%);
--wsf-form-color-primary-light-60: color-mix(in oklab, var(--wsf-form-color-primary), #fff 60%);
--wsf-form-color-primary-light-70: color-mix(in oklab, var(--wsf-form-color-primary), #fff 70%);
--wsf-form-color-primary-light-80: color-mix(in oklab, var(--wsf-form-color-primary), #fff 80%);
--wsf-form-color-primary-light-90: color-mix(in oklab, var(--wsf-form-color-primary), #fff 90%);
--wsf-form-color-secondary-dark-90: color-mix(in oklab, var(--wsf-form-color-secondary), #000 90%);
--wsf-form-color-secondary-dark-80: color-mix(in oklab, var(--wsf-form-color-secondary), #000 80%);
--wsf-form-color-secondary-dark-70: color-mix(in oklab, var(--wsf-form-color-secondary), #000 70%);
--wsf-form-color-secondary-dark-60: color-mix(in oklab, var(--wsf-form-color-secondary), #000 60%);
--wsf-form-color-secondary-dark-50: color-mix(in oklab, var(--wsf-form-color-secondary), #000 50%);
--wsf-form-color-secondary-dark-40: color-mix(in oklab, var(--wsf-form-color-secondary), #000 40%);
--wsf-form-color-secondary-dark-30: color-mix(in oklab, var(--wsf-form-color-secondary), #000 30%);
--wsf-form-color-secondary-dark-20: color-mix(in oklab, var(--wsf-form-color-secondary), #000 20%);
--wsf-form-color-secondary-dark-10: color-mix(in oklab, var(--wsf-form-color-secondary), #000 10%);
--wsf-form-color-secondary-light-10: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 10%);
--wsf-form-color-secondary-light-20: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 20%);
--wsf-form-color-secondary-light-30: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 30%);
--wsf-form-color-secondary-light-40: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 40%);
--wsf-form-color-secondary-light-50: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 50%);
--wsf-form-color-secondary-light-60: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 60%);
--wsf-form-color-secondary-light-70: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 70%);
--wsf-form-color-secondary-light-80: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 80%);
--wsf-form-color-secondary-light-90: color-mix(in oklab, var(--wsf-form-color-secondary), #fff 90%);
--wsf-form-color-success-dark-90: color-mix(in oklab, var(--wsf-form-color-success), #000 90%);
--wsf-form-color-success-dark-80: color-mix(in oklab, var(--wsf-form-color-success), #000 80%);
--wsf-form-color-success-dark-70: color-mix(in oklab, var(--wsf-form-color-success), #000 70%);
--wsf-form-color-success-dark-60: color-mix(in oklab, var(--wsf-form-color-success), #000 60%);
--wsf-form-color-success-dark-50: color-mix(in oklab, var(--wsf-form-color-success), #000 50%);
--wsf-form-color-success-dark-40: color-mix(in oklab, var(--wsf-form-color-success), #000 40%);
--wsf-form-color-success-dark-30: color-mix(in oklab, var(--wsf-form-color-success), #000 30%);
--wsf-form-color-success-dark-20: color-mix(in oklab, var(--wsf-form-color-success), #000 20%);
--wsf-form-color-success-dark-10: color-mix(in oklab, var(--wsf-form-color-success), #000 10%);
--wsf-form-color-success-light-10: color-mix(in oklab, var(--wsf-form-color-success), #fff 10%);
--wsf-form-color-success-light-20: color-mix(in oklab, var(--wsf-form-color-success), #fff 20%);
--wsf-form-color-success-light-30: color-mix(in oklab, var(--wsf-form-color-success), #fff 30%);
--wsf-form-color-success-light-40: color-mix(in oklab, var(--wsf-form-color-success), #fff 40%);
--wsf-form-color-success-light-50: color-mix(in oklab, var(--wsf-form-color-success), #fff 50%);
--wsf-form-color-success-light-60: color-mix(in oklab, var(--wsf-form-color-success), #fff 60%);
--wsf-form-color-success-light-70: color-mix(in oklab, var(--wsf-form-color-success), #fff 70%);
--wsf-form-color-success-light-80: color-mix(in oklab, var(--wsf-form-color-success), #fff 80%);
--wsf-form-color-success-light-90: color-mix(in oklab, var(--wsf-form-color-success), #fff 90%);
--wsf-form-color-info-dark-90: color-mix(in oklab, var(--wsf-form-color-info), #000 90%);
--wsf-form-color-info-dark-80: color-mix(in oklab, var(--wsf-form-color-info), #000 80%);
--wsf-form-color-info-dark-70: color-mix(in oklab, var(--wsf-form-color-info), #000 70%);
--wsf-form-color-info-dark-60: color-mix(in oklab, var(--wsf-form-color-info), #000 60%);
--wsf-form-color-info-dark-50: color-mix(in oklab, var(--wsf-form-color-info), #000 50%);
--wsf-form-color-info-dark-40: color-mix(in oklab, var(--wsf-form-color-info), #000 40%);
--wsf-form-color-info-dark-30: color-mix(in oklab, var(--wsf-form-color-info), #000 30%);
--wsf-form-color-info-dark-20: color-mix(in oklab, var(--wsf-form-color-info), #000 20%);
--wsf-form-color-info-dark-10: color-mix(in oklab, var(--wsf-form-color-info), #000 10%);
--wsf-form-color-info-light-10: color-mix(in oklab, var(--wsf-form-color-info), #fff 10%);
--wsf-form-color-info-light-20: color-mix(in oklab, var(--wsf-form-color-info), #fff 20%);
--wsf-form-color-info-light-30: color-mix(in oklab, var(--wsf-form-color-info), #fff 30%);
--wsf-form-color-info-light-40: color-mix(in oklab, var(--wsf-form-color-info), #fff 40%);
--wsf-form-color-info-light-50: color-mix(in oklab, var(--wsf-form-color-info), #fff 50%);
--wsf-form-color-info-light-60: color-mix(in oklab, var(--wsf-form-color-info), #fff 60%);
--wsf-form-color-info-light-70: color-mix(in oklab, var(--wsf-form-color-info), #fff 70%);
--wsf-form-color-info-light-80: color-mix(in oklab, var(--wsf-form-color-info), #fff 80%);
--wsf-form-color-info-light-90: color-mix(in oklab, var(--wsf-form-color-info), #fff 90%);
--wsf-form-color-warning-dark-90: color-mix(in oklab, var(--wsf-form-color-warning), #000 90%);
--wsf-form-color-warning-dark-80: color-mix(in oklab, var(--wsf-form-color-warning), #000 80%);
--wsf-form-color-warning-dark-70: color-mix(in oklab, var(--wsf-form-color-warning), #000 70%);
--wsf-form-color-warning-dark-60: color-mix(in oklab, var(--wsf-form-color-warning), #000 60%);
--wsf-form-color-warning-dark-50: color-mix(in oklab, var(--wsf-form-color-warning), #000 50%);
--wsf-form-color-warning-dark-40: color-mix(in oklab, var(--wsf-form-color-warning), #000 40%);
--wsf-form-color-warning-dark-30: color-mix(in oklab, var(--wsf-form-color-warning), #000 30%);
--wsf-form-color-warning-dark-20: color-mix(in oklab, var(--wsf-form-color-warning), #000 20%);
--wsf-form-color-warning-dark-10: color-mix(in oklab, var(--wsf-form-color-warning), #000 10%);
--wsf-form-color-warning-light-10: color-mix(in oklab, var(--wsf-form-color-warning), #fff 10%);
--wsf-form-color-warning-light-20: color-mix(in oklab, var(--wsf-form-color-warning), #fff 20%);
--wsf-form-color-warning-light-30: color-mix(in oklab, var(--wsf-form-color-warning), #fff 30%);
--wsf-form-color-warning-light-40: color-mix(in oklab, var(--wsf-form-color-warning), #fff 40%);
--wsf-form-color-warning-light-50: color-mix(in oklab, var(--wsf-form-color-warning), #fff 50%);
--wsf-form-color-warning-light-60: color-mix(in oklab, var(--wsf-form-color-warning), #fff 60%);
--wsf-form-color-warning-light-70: color-mix(in oklab, var(--wsf-form-color-warning), #fff 70%);
--wsf-form-color-warning-light-80: color-mix(in oklab, var(--wsf-form-color-warning), #fff 80%);
--wsf-form-color-warning-light-90: color-mix(in oklab, var(--wsf-form-color-warning), #fff 90%);
--wsf-form-color-danger-dark-90: color-mix(in oklab, var(--wsf-form-color-danger), #000 90%);
--wsf-form-color-danger-dark-80: color-mix(in oklab, var(--wsf-form-color-danger), #000 80%);
--wsf-form-color-danger-dark-70: color-mix(in oklab, var(--wsf-form-color-danger), #000 70%);
--wsf-form-color-danger-dark-60: color-mix(in oklab, var(--wsf-form-color-danger), #000 60%);
--wsf-form-color-danger-dark-50: color-mix(in oklab, var(--wsf-form-color-danger), #000 50%);
--wsf-form-color-danger-dark-40: color-mix(in oklab, var(--wsf-form-color-danger), #000 40%);
--wsf-form-color-danger-dark-30: color-mix(in oklab, var(--wsf-form-color-danger), #000 30%);
--wsf-form-color-danger-dark-20: color-mix(in oklab, var(--wsf-form-color-danger), #000 20%);
--wsf-form-color-danger-dark-10: color-mix(in oklab, var(--wsf-form-color-danger), #000 10%);
--wsf-form-color-danger-light-10: color-mix(in oklab, var(--wsf-form-color-danger), #fff 10%);
--wsf-form-color-danger-light-20: color-mix(in oklab, var(--wsf-form-color-danger), #fff 20%);
--wsf-form-color-danger-light-30: color-mix(in oklab, var(--wsf-form-color-danger), #fff 30%);
--wsf-form-color-danger-light-40: color-mix(in oklab, var(--wsf-form-color-danger), #fff 40%);
--wsf-form-color-danger-light-50: color-mix(in oklab, var(--wsf-form-color-danger), #fff 50%);
--wsf-form-color-danger-light-60: color-mix(in oklab, var(--wsf-form-color-danger), #fff 60%);
--wsf-form-color-danger-light-70: color-mix(in oklab, var(--wsf-form-color-danger), #fff 70%);
--wsf-form-color-danger-light-80: color-mix(in oklab, var(--wsf-form-color-danger), #fff 80%);
--wsf-form-color-danger-light-90: color-mix(in oklab, var(--wsf-form-color-danger), #fff 90%);
--wsf-field-border: var(--wsf-field-border-width) var(--wsf-field-border-style) var(--wsf-field-border-color);
--wsf-field-box-shadow: 0 0 0 var(--wsf-field-box-shadow-width-focus) var(--wsf-field-box-shadow-color-focus);
--wsf-field-button-padding: var(--wsf-field-button-padding-vertical) var(--wsf-field-button-padding-horizontal);
--wsf-field-checkbox-check-height: calc(var(--wsf-field-checkbox-size) / 1.6);
--wsf-field-checkbox-check-size: calc(var(--wsf-field-checkbox-size) / 6);
--wsf-field-checkbox-check-width: calc(var(--wsf-field-checkbox-size) / 3.3);
--wsf-field-checkbox-size: calc(var(--wsf-field-font-size) * var(--wsf-field-line-height));
--wsf-field-checkbox-switch-size: calc(var(--wsf-field-checkbox-size) * 0.8);
--wsf-field-checkbox-switch-width: calc(var(--wsf-field-checkbox-size) * 1.8);
--wsf-field-height: calc((var(--wsf-field-font-size) * var(--wsf-field-line-height)) + (var(--wsf-field-padding-vertical) * 2) + (var(--wsf-field-border-width) * 2));
--wsf-field-padding: var(--wsf-field-padding-vertical) var(--wsf-field-padding-horizontal);
--wsf-field-radio-checked-size: calc(var(--wsf-field-radio-size) * 0.7);
--wsf-field-radio-size: calc(var(--wsf-field-font-size) * var(--wsf-field-line-height));
--wsf-field-radio-switch-size: calc(var(--wsf-field-radio-size) * 0.8);
--wsf-field-radio-switch-width: calc(var(--wsf-field-radio-size) * 1.8);
--wsf-field-select-padding-right: calc((var(--wsf-field-padding-horizontal) * 2) + var(--wsf-field-select-arrow-width));
--wsf-field-select-select2-result-padding: var(--wsf-field-select-select2-result-padding-vertical) var(--wsf-field-select-select2-result-padding-horizontal);
--wsf-form-caption-gap: calc(var(--wsf-form-grid-gap) / 4);
--wsf-form-transition: calc(var(--wsf-form-transition-speed) * var(--wsf-form-transition-enabled)) var(--wsf-form-transition-timing-function);
--wsf-group-li-padding: var(--wsf-group-li-padding-vertical) var(--wsf-group-li-padding-horizontal);
--wsf-group-li-steps-gap: calc(var(--wsf-field-height) / 2);
}
